<settings>
    <category label="Настройки">
        <setting id="login"             type="text" label="Email"                    default="" />
        <setting id="password"          type="text" label="Пароль"   option="hidden" default="" />
        <setting id="Quality"           type="enum" label="Качество"                 default="0" values="Выбор|720p|1080p|SD"/>
        <setting id="ConType"           type="enum" label="Тип соединения"           default="0" values="HTTP|HTTPS"/>
        <setting id="immunicity"        type="enum" label="Разблокировка"            default="0" values="Нет|Immunicity|Proxy"/>
        <setting id="Proxy"             type="text" label="Прокси (адрес:порт)" visible="eq(-1,2)" default="proxy.antizapret.prostovpn.org:3128" />
        <setting id="FetchPlot"         type="bool" label="Описание эпизодов"          default="false"/>
        <setting id="UpdateSeries"      type="bool" label="Обновить сериалы новинками" default="true"/>
        <setting id="UpdateFromScratch" type="bool" label="Обновить сериалы полностью" default="false"/>
        <setting id="Sort"              type="enum" label="Прядок сериалов"   default="0" values="По алфавиту|По дате"/>
        <setting id="Pages"             type="enum" label="Новые серии"       default="1" values="15|30|45|60"/>
        <setting id="Picture"           type="bool" label="Сохранять картинки"         default="false" visible="false"/>
    </category>
    <category label="P2P">
        <setting id="Engine"              type="enum"   label="player"          default="1" values="ACE engine|torrent2http"/>
        <setting id="t2h-cache"           type="folder" label="torrent2http cache" visible="eq(-1,1)" option="writeable" default="special://temp/torrent2http"/>
        <setting id="t2h-listen-port"     type="number" label="Порт для входящих соединений" visible="eq(-2,1)" default="6881" enable="eq(1,false)"/>
        <setting id="t2h-use-random-port" type="bool"   label="Использовать случайный порт" visible="eq(-3,1)"/>
        <setting id="t2h-pre-buffer-mb"   type="slider" label="Загружаемый объем файла до начала просмотра, Мб" visible="eq(-4,1)" default="15" range="5,5,50" option="int"/>
        <setting id="t2h-max-connections" type="number" label="Ограничить количество соединений" visible="eq(-5,1)"/>
        <setting id="t2h-download-rate"   type="number" label="Ограничить скорость получения, Кбайт/с" visible="eq(-6,1)"/>
        <setting id="t2h-upload-rate"     type="number" label="Ограничить скорость отдачи, Кбайт/с" visible="eq(-7,1)"/>
    </category>
</settings>
